* {
   margin: 0;
   box-sizing: border-box;
   background-color: darkgray;
}
.box {
   width: 320px;
   height: 497px;
   position: absolute;
   left: 495px;
   top: 70px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.layout1 {
   width: 288px;
   height: 286px;
   position: absolute;
   left: 511px;
   top: 88px;
   background-color: blue;
   display: flex;
   align-items: center;
   justify-content: center;
}
.qr-code {
   width: 100px;
   height: 100px;
}

.layout2 {
   width: 287px;
   height: 191px;
   position: absolute;
   left: 512px;
   top: 376px;
   background-color: rgb(253, 250, 250);
}
h1 {
   font-weight: 700;
   font-style: normal;
   font-size: 22px;
   line-height: 100%;
   letter-spacing: 0px;
   text-align: center;
}
p {
   position: absolute;
   font-weight: 400;
   font-style: normal;
   font-size: 15px;
   line-height: 100%;
   letter-spacing: 0.19px;
   text-align: center;
}
.imige {
   width: 160px;
   height: 160px;
   position: absolute;
   top: 150px;
   left: 575px;
}