* {
   margin: 0;
   box-sizing: border-box;
   background-color: darkgray;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
}
.box {
   width: 320px;
   height: 497px;
   position: absolute;
   left: 495px;
   top: 70px;
   background-color: rgb(246, 246, 247);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
 
}
.layout1 {
   width: 288px;
   height: 286px;
   position: absolute;
   left: 511px;
   top: 88px;
   background-color: #2c7dfa;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   
}
.qr_code {
    width: 160;
    height: 160;
    position: absolute;
    left: 580px;
    top: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text1{
    position: absolute;
    width: 287px;
    height: 191px;
    left: 512px;
    top: 376px; 
    background-color: rgb(246, 246, 247);
   
}
h1 {
    position: absolute;
    height: 57px;
    left: 16px;
    top: 90px;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #747b88;
    background-color: rgb(246, 246, 247);
    }
h2 {
    position: absolute;
    height: 56px;
    left: 5px;
    right: -1.74%;
    top: 25px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #1F314F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(246, 246, 247);
    font-style: Bold;

}










