* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 497px;
    background-color: rgb(246, 246, 247);
    border-radius: 20px;
  
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 286px;
    background-color: #2c7dfa;
    border-radius: 20px;
    margin-top: -24px;

}
h1 { 
    
    font-weight: 1000;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 14px;

    }
 h2 {
    
    font-style: normal;
    font-weight: 50;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.19px;
    color: #7D889E;
    margin-top: 10px;


}










